node_modules
.env
.env.*
.vesting.*
loadtest*json
bulk.txt
minters.json
balance*.txt
scripts/sge/data.json
scripts/sge/uris.json
#Hardhat files
cache
artifacts
deployments/localhost
scripts/sge/*.json
scripts/createMinters.js
gravedigger.log
snookStars*
claimed*
claimRewards*
gamer_pks.json
tokensWithNonZeroStarsAtP1.json
claimsForTokensP1.txt
pks*.json
extractions.json
period1.log
period2.log
scripts/ppkSim.js
